.qlbh-template-grid-food-item img.default {
    width: 40%;
    height: auto;
    margin: 0 auto;
}

.qlbh-template-grid-food-item .card {
    position: relative;
    padding-top: 40px;
}
.qlbh-template-grid-food-item .price {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 10px;
    margin: 0;
    background-color: #C0C0C0;
    border-radius: 3px;
}
.qlbh-template-grid-food-item .card-title {
    color: #696969;
    text-align: center;
}
/* .qlbh-template-grid-food-item .btn {
    border-color: #C0C0C0;
    color: #C0C0C0;
}
.qlbh-template-grid-food-item .btn:hover {
    background-color: #C0C0C0;
    color: #fff;
} */
.qlbh-template-grid-food {
    align-items: stretch;
}
.qlbh-template-grid-food-item {
    padding-bottom: 12px;
}
.qlbh-template-grid-food-item .card {
    height: 100%;
}
.qlbh-template-grid-food-item .card-body {
    display: flex;
    flex-direction: column;
}
.qlbh-template-grid-food-item .card-body .number-input-group {
    margin-top: auto;
}

/* Invoice */
@media screen and (max-width: 600px) {
    .table-invoice {
        display: block;
        width: 100%;
        overflow-x: auto;
    }
    .table-invoice th,
    .table-invoice thead {
        display: none;
    }
    .table-invoice td,
    .table-invoice tr,
    .table-invoice tbody {
        display: block;
        width: 100%;
    }
    .table-invoice td {
        border: 0;
    }
    .table-invoice tr {
        border: 1px solid #00000024;
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 15px;
    }
    .invoice-name-product {
        font-size: 20px;
    }
    .invoice-price-product {
        font-size: 18px;
    }
}

/* Preview Food Order */
#preview-food-order {
    border: 1px solid rgba(0, 0, 0, 0.175);
    border-radius: 10px;
    height: max-content;
}
.preview-food-order-wrap {
    padding: 10px 20px;
}
#preview-food-order .preview-food-order-item {
    width: 300px;
}
.preview-food-order-label {
    color: #fff;
    background-color: #696969;
    font-weight: 400;
    padding: 10px 20px;
    margin-bottom: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
@media (min-width: 768px) {
    .order-food-wrap-tab-mobile {
        display: none;
    }
}
@media (max-width: 767px) {
    .order-food-wrap-tab-mobile {
        display: flex;
    }
    #preview-food-order {
        width: 100%;
        margin-top: 15px;
    }
}

/* Order food search */
.order-food-search-wrap {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
}
#order-food-search {
    border-radius: 5px;
}
#order-food-search-clear {
    width: 22px;
    height: 22px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
    cursor: pointer;
}
#order-food-search-clear svg {
    font-size: 22px;
}